header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#upload-button {
    place-self: center;
    margin-right: 8px;
}
#upload-button:hover > svg {
    fill: #444444;
}

#score-list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 8px;
}

@media screen and (min-width: 60rem) {
    #score-list {
        margin: auto;
        width: 60rem;
    }
}
