#container {
    padding: 16px;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 1px;
    border-radius: 10px;
    background-color: var(--background);
}

#container:hover {
    padding: 15px;
    border-width: 2px;
}

#title {
    margin-top: 8px;
    margin-bottom: 0;
}

#creators {
    margin-top: 4px;
    margin-bottom: 0;
}

#instruments {
    margin-top: 4px;
    margin-bottom: 0;
}

#tags {
    margin-top: 4px;
    margin-bottom: 0;
}

.icon {
    filter: invert(0.5);
    margin-bottom: -6px;
}
