<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="score" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="-config config.txt" />
    <envs>
      <env name="DB_CONNECTION_STRING" value="user=postgres password=postgres host=localhost port=7432 dbname=score sslmode=disable" />
      <env name="TOKEN_INTROSPECTION_CLIENT_ID" value="329559487100813315" />
      <env name="TOKEN_INTROSPECTION_CLIENT_SECRET" value="Nuyb8xKnQK5ABTR7m5rSMhgUWHnPYJnpPqbctAOJubxheSEdrC47yQN4BS7GWTBn" />
      <env name="TOKEN_INTROSPECTION_URL" value="http://localhost:7003/oauth/v2/introspect" />
    </envs>
    <kind value="DIRECTORY" />
    <package value="score" />
    <directory value="$PROJECT_DIR$/" />
    <filePath value="$PROJECT_DIR$" />
    <method v="2" />
  </configuration>
</component>