<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="score" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="-config .env/local-config.json" />
    <envs>
      <env name="DB_CONNECTION_STRING" value="user=postgres password=postgres host=localhost port=7432 dbname=score sslmode=disable" />
      <env name="TOKEN_INTROSPECTION_CLIENT_ID" value="393202900064534530" />
      <env name="TOKEN_INTROSPECTION_CLIENT_SECRET" value="xLF9ZE8OJXlQ4S7RPqNE531XJvS7ikvpBh7hcazP2ws5zErWAB40HgF1VltmoYAt" />
      <env name="TOKEN_INTROSPECTION_URL" value="https://auth.wvl.app/oauth/v2/introspect" />
    </envs>
    <kind value="DIRECTORY" />
    <package value="score" />
    <directory value="$PROJECT_DIR$/" />
    <filePath value="$PROJECT_DIR$" />
    <method v="2" />
  </configuration>
</component>