<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="score" />
    <working_directory value="$PROJECT_DIR$" />
    <envs>
      <env name="DB_CONNECTION_STRING" value="user=postgres password=postgres host=localhost port=7432 dbname=score pool_max_conns=10" />
      <env name="JWT_ISSUER" value="http://localhost:7003" />
      <env name="SCORES_REPOSITORY" value="git@github.com:wim07101993/scores.git" />
    </envs>
    <kind value="DIRECTORY" />
    <package value="score" />
    <directory value="$PROJECT_DIR$/backend/cmd/server/" />
    <filePath value="$PROJECT_DIR$" />
    <method v="2" />
  </configuration>
</component>